<div class="cards-grid">
  <% @personalities.each do |personality| %>
    <%= link_to personality_path(personality, date: @date) do %>
      <div class="card-container">
        <div class="card-img" style="background-image: url(<%= cl_image_path personality.picture %>); background-size: cover; background-position: center;">
          <div class="card-badge"><p><strong><%= personality.price_per_day%>£</strong>  per day</p></div>
        </div>
        <div class="card-info">
          <h3><%= personality.first_name %></h3>
          <div class="bottom">
            <p><%= personality.user.age %> years old</p>
            <div class="card-ratings">
              <% unless personality.reviews.average(:personality_rating).nil? %>
                <p>
                  <%= ("<i class=\"fas fa-star\"></i>" * personality.reviews.average(:personality_rating).round ).html_safe %>
                </p>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    <% end %>
  <% end %>
</div>
