 <div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand logo-pink">
    R <i class="far fa-heart fa-rotate-180"></i> P
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if current_user %>
      <% unless current_user.is_partner %>
        <%= link_to "Become a partner", new_personality_path(partner: true), class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>
      <%= link_to "See all personalities", personalities_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Dashboard", dashboard_user_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %>
      <!-- Profile picture with dropdown list -->
      <div class="navbar-wagon-item">
        <div class="dropdown">

          <img src="<%= cl_image_path current_user.picture %>" class="small-avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to "Messages", '#' %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></a></li>
          </ul>
        </div>
      </div>

    <% else %>
      <span><%= link_to "Sign up", new_user_registration_path, class: 'btn btn-green' %>
      <%= link_to "Sign in", new_user_session_path, class: 'btn btn-grey' %></span>
    <% end %>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if current_user %>
          <li>
            <% unless current_user.is_partner %>
              <%= link_to "Become a partner", personalities_path(partner: true), class: "navbar-wagon-item navbar-wagon-link " %>
            <% end %>
          </li>
          <li><%= link_to "Personalities", personalities_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "Dashboard", dashboard_user_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></a></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
