<div class="banner">
  <div class="container text-center">
    <h1>Choose your flavour</h1>
    <p>Find your perfect date for any occassion</p>

    <div class="filter-home">
      <%= form_tag("/personalities", method: "get") do %>
        <%= label_tag(:gender, "Gender") %>
        <%= select_tag(:gender, options_for_select([nil, 'Male', 'Female', 'Other']))
         %>
        <%= label_tag(:location, "Location") %>
        <%= select_tag(:location, options_for_select(@locations_array.uniq))
         %>
        <%= label_tag(:date, "Date") %>
        <%= date_field_tag(:date, Date.today, options = {min: Date.today()})%>

        <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <h2>Featured Personalities</h2>

  <%= render 'shared/cards-display' %>
</div>
