<div class="container">
  <h2>All Personalities</h2>
  <div class="filter">
    <%= form_tag("/personalities", method: "get") do %>
      <%= label_tag(:q, "Search for") %>
      <%= text_field_tag(:q) %>
      <%= label_tag(:gender, "Gender") %>
      <%= select_tag(:gender, options_for_select([nil, 'Male', 'Female', 'Other']))
       %>
      <%= label_tag(:price_per_day, "Price") %>
      <%= select_tag(:price_per_day, options_for_select([nil, ['£1 - £19', 1], ['£20 - £49', 2], ['£50 - £100', 3], ['£100 +', 4]]))
       %> <br>
      <%= label_tag(:location, "Location") %>
      <%= select_tag(:location, options_for_select(@locations_array.uniq))
       %>
      <%= label_tag(:date, "Date") %>
      <%= date_field_tag(:date, @date) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>

  <p>
    <%= link_to "Sort by price", personalities_path(sort: :price, q: params[:q], gender: params[:gender], price_per_day: params[:price_per_day], location: params[:location], date: @date) %> (lowest to highest)
  </p>

  <% if policy(Personality.new).create? %>
    <%= link_to "New personality", new_personality_path %>
  <% end %>
  <%= render 'shared/cards-display', date: params[:date] %>
</div>
