<div class="container">
  <div class="personality-name">
    <h1><%= @personality.first_name %> <%= @personality.last_name %></h1>
    <div class="personality-rating">
      <% unless @personality.reviews.average(:personality_rating).nil? %>
        <%= ("<i class=\"fas fa-star\"></i>" * @personality.reviews.average(:personality_rating).round ).html_safe %> - <%= pluralize @personality.reviews.size, "review" %>
      <% end %>
    </div>
  </div>
  <div class="row personality-top">
    <div class="col-md-8">
      <p class="personality-bio">
        <i class="fas fa-quote-left"></i> <em><%= @personality.bio%></em> <i class="fas fa-quote-right"></i>
      </p>
      <div class="personality-details">
        <p>Interpreted by <strong><%= @personality.user.first_name%></strong></p>
        <p>I match well with people who are about <strong><%= @personality.desired_age %> years old</strong></p>
      </div>
    </div>
    <div class="col-md-4">
      <%= cl_image_tag @personality.picture, class: "personality-profile-picture" %>
    </div>
  </div>

  <div class="row personality-bottom">
    <div class="col-md-8">
      <% if @personalities.count > 1 %>
        <p class="m-0 p-0">
          Check out my other <%=  "personality".pluralize(@personalities.count-1) %>:
        </p>
        <div class="secondary-personalities">
          <% @personalities.each do |personality| %>
            <% next if personality == @personality %>
              <div class="secondary-personality">
                <%= link_to personality_path(personality) do %>
                  <%= cl_image_tag personality.picture, class: "personality-secondary-pictures" %>
                  <p class="secondary-personality-name"><%= personality.first_name %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <p class="m-0 p-0">
          You may also be interested in the following personalities:
        </p>
        <div class="secondary-personalities">
          <% @similar_personalities.take(4).each do |personality| %>
            <% next if personality == @personality %>
              <div class="secondary-personality">
                <%= link_to personality_path(personality) do %>
                  <%= cl_image_tag personality.picture, class: "personality-secondary-pictures" %>
                  <p class="secondary-personality-name"><%= personality.first_name %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-4 personality-booking">
      <p class="text-center"><strong><%= @personality.price_per_day %>£</strong> / day</p>
      <div class="personality-booking-form">
        <%= simple_form_for [@personality, @booking] do |f| %>
          <%= date_field_tag(:date, @date, options = {min: Date.today()}) %>
          <%= submit_tag("Book now", class: "btn btn-green" )%>
        <% end %>
      </div>
    </div>
  </div>

  <% unless @personality.reviews.average(:personality_rating).nil? %>
    <div class="row">
      <div class="col-md-12 reviews-container">
          <h2><%=  "Review".pluralize(@personality.reviews.size) %></h2>
          <% @personality.reviews.each do |review| %>
            <% unless review.personality_rating.nil? %>
              <div class="review-card">
                <div class="review-reviewer">
                  <img src="<%= cl_image_path review.user.picture %>" class="small-avatar">
                  <div class="review-reviewer-details">
                    <p><%= review.user.first_name + " " + review.user.last_name %></p>
                    <p><%= review.booking.date %></p>
                  </div>
                </div>
                <p class="personality-rating"><%= ("<i class=\"fas fa-star\"></i>" * review.personality_rating).html_safe %></p>
                <p><%= review.personality_comment %></p>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>
  <% end %>

</div>


