

<% if policy(@personality).edit? %>
  <%= link_to "Edit Personality", edit_personality_path(@personality) %>
<% end %>


<div class="container">
	<div class="info-image">
		<div class="info">
			<h1><%= @personality.first_name %> <%= @personality.last_name %></h1>
			<p>desired age: <%= @personality.desired_age %></p>
			<p>Bio: <%= @personality.bio%></p>
			<p>price: <%= @personality.price_per_day %></p>
		</div>

		<div class="image-and-stars-and-buttons">
			<div class="image">
				<img class="personality-image"src=<%= @personality.picture%> alt="person photo">
			</div>
			<div class="stars-and-buttons">
				<p><i <i class="fas fa-star stars-pink"></i><i class="fas fa-star stars-pink"></i><i class="fas fa-star stars-pink"></i><i class="fas fa-star stars-pink"></i><i class="fas fa-star stars-pink"></i></p>
				<a href="" class="btn btn-green"> BOOK NOW </a>
			</div>
		</div>
	</div>
		<div class="personality-of">
			<div class="real-identity">
				<p><%= @personality.first_name %> <%= @personality.last_name %> is a fake personality of <%= @personality.user.first_name%></p>
			</div>
			<div class="other-personalities">
				<% if @personalities.count > 1 %>
					<p>Those are Ben's other personalities:</p>
					<% @personalities.each do |personality| %>
						<% next if personality == @personality   %>
						<%= cl_image_tag personality.picture%>
					<% end %>
				<% else %>
					<p>This is  <%= @personality.user.first_name%>'s only personality</p>
				<% end %>
			</div>
		</div>

    <%= simple_form_for [@personality, @booking], html: { class: "dose-form"} do |f| %>
          <%= f.association :ingredient, selected: 1, input_html: { class: "select2" } %>
          <%= f.input :description, placeholder: '4 cl (example)' %>
          <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
</div>
